@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* line-height: 1.5; */
    font-weight: 400;

    color-scheme: light dark;
    color: #808080;
    --background-color: #202022;
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
}

.tables {
    display: flex;
    flex-direction: row;
    gap: 10em;
}
/*
.add-table-container {
    height: 100%;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    width: 3em;
    pointer-events: auto;
} */

.add-table {
    display: block;
    top: 50%;
    margin: 50px 100px 50px 0;
    background-color: var(--background-color);
    transition: opacity 0.2s ease-out;
    width: 2em;
    height: 2em;
    position: sticky;
    cursor: pointer;
}

.app-controls {
    display: flex;
    gap: 10px;
    padding: 10px;
}